# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Data and Models (Do not push heavy local assets)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# IDE files
.vscode/
.idea/
.DS_Store
